name: Publish

on:
  release:
    types: [published]

jobs:
  release:
    name: Release
    strategy:
      matrix:
        kind: ['windowsx64', 'windowsx86', 'windowsarm64', 'linuxx64', 'linuxarm64']
        include:
          - kind: windowsx64
            os: windows-2022
            target: win-x64
          - kind: windowsx86
            os: windows-2022
            target: win-x86
          - kind: windowsarm64
            os: windows-2022
            target: win-arm64
          - kind: linuxx64
            os: windows-2022
            target: linux-x64
          - kind: linuxarm64
            os: windows-2022
            target: linux-arm64
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v6
      - name: Setup dotnet
        uses: actions/setup-dotnet@v5
        with:
          dotnet-version: 9.x

      - name: Build
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          BASE64_PFX: ${{ secrets.BASE64_PFX }}
          PFX_PASSWORD: ${{ secrets.PFX_PASSWORD }}
        shell: bash
        run: |
          tag=$(git describe --tags --abbrev=0)
          release_name="YomichanAudioCollectionRenamerForJL-$tag-${{ matrix.target }}"
          
          # Build everything
          dotnet publish YomichanAudioCollectionRenamerForJL/YomichanAudioCollectionRenamerForJL.csproj --framework net9.0 --runtime "${{ matrix.target }}" --no-self-contained -c Release -o "$release_name" //p:Version=$tag
          
          # Pack files
          7z a -tzip "${release_name}.zip" "./${release_name}/*"
          
          # Delete output directory
          rm -r "$release_name"
      - name: Publish
        uses: softprops/action-gh-release@v2
        with:
          files: "YomichanAudioCollectionRenamerForJL*.zip"
